# My Jupyter Notebook on IBM Watson Studio

**Guilherme da Silva**

Quality Engineer and measurement system researcher

_I am interested in data science because I want to improve the methods of detecting and classifying faults in the manufacturing process through intelligent measurement systems_

### The code will plot the multiplication table of 2, from 1 to 10 ###

In [5]:
for n in range(1, 11):
    output = 2 * n
    print("2 x {} = {}".format(n, output))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

* data
* science
* is
* cool

1. data
1. science
1. is
1. cool
1. but
1. with
1. numbers

And now, a capybara:

![image of a cute capybara](https://animalia-bio.us-east-1.linodeobjects.com/animals/photos/full/1.25x1/capybara-sitting-sideways-18114724916jpg.webp)